.nebenan-widget-wrapper {
  max-width: 900px;
  width: 100%;
  height: 594px;
  border: 1px solid #e1e1de;

  &--l {
    height: 620px;
  }

  &--m {
    height: 639px;
  }

  &--s {
    height: 660px;
  }
}

#nebenan_iframe {
  width: 100%;
  height: 100%;
}
